<h1>Sorry, you did something wrong</h1>
<div id="top" style="padding: 20px">
  Fortunately, only one or two reesus monkies were harmed in the
  process, so you can probably still live with yourself.  We won't
  hold it against you.  It's one of the risks you take with beta
  software that some slacker slammed out as a weekend research
  project.  Maybe we should have put hamsters at the typewriters
  instead.
  <p>
    Your best course of action is to find the back button in your
    browser and see where it takes you.  It's got to be more useful
    than here.  

</div>

